
.architect-card{
    min-height: 30vh;
    margin: 2% 2% 5% 2%;
    border-color: rgb(3, 162, 3);
    box-shadow: 2px 3px 4px rgb(3, 162, 3);

}

.architect-card .header{
    background-color: rgb(3, 162, 3);
    color: white;
    font-weight: bold;
}


.architect-card .employee-card {
    min-height: 10vh;
    max-height: 30vh;
    overflow: auto;
}
