
.header-row{
    background-color: #004c90;
    margin-left: 0;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    top: 0;
    width: 100%;
}

