
.project-tasks-container{
    background-color: white;
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 0.5rem;
}

.project-tasks{
    height: 50vh;
    margin: 0.25rem 0rem 0.25rem 0rem;
    overflow: auto;
    border: 1px solid #777777;
}