
.maintenance-contractor-card{
    min-height: 30vh;
    box-shadow: 2px 3px 4px orange;
    margin: 1%;
    cursor: pointer;
}
.maintenance-contractor-card:hover{
    transform: translateY(-2px);
}

.maintenance-contractor-card .header{
    background-color: orange;
    color: white;
    font-weight: bold;
}

.maintenance-architect-card{
    min-height: 30vh;
    box-shadow: 2px 3px 4px rgb(3, 162, 3);
    margin: 1%;
    cursor: pointer;
}

.maintenance-architect-card:hover{
    transform: translateY(-2px);
}

.maintenance-architect-card .header{
    background-color: rgb(3, 162, 3);
    color: white;
    font-weight: bold;
}


.maintenance-engineer-card{
    min-height: 30vh;
    box-shadow: 2px 3px 4px rgb(6, 6, 210);
    margin: 1%;
    cursor: pointer;
}
.maintenance-engineer-card:hover{
    transform: translateY(-2px);
}

.maintenance-engineer-card .header{
    background-color: blue;
    color: white;
    font-weight: bold;
}