
.header-row{
    margin-left: 0;
    /* height: 7vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    border-bottom: 3px solid #777777;
    overflow: hidden;
}



