
.contractor-card{
    min-height: 30vh;
    margin: 2% 2% 5% 2%;
    border-color: orange;
    box-shadow: 2px 3px 4px borangelue;

}

.contractor-card .header{
    background-color: orange;
    color: white;
    font-weight: bold;
}


.contractor-card .accounts-contact-card {
    min-height: 10vh;
    max-height: 30vh;
    overflow: auto;
}
