
.project-card{
    font-family: sans-serif;
    min-height: 15vh;
    width: 80%;
    margin-bottom: 2%;;
    background-color: #ffff;

}

.project-card .header{
    display: flex;
    justify-content: flex-start;
    background-color: orange;
}

.project-card:hover{
    cursor: pointer;
}