
.task-maintenance-container{

    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid #777777;
    box-shadow: 1px 1px 5px #777777;
}

.task-maintenance-container .body{
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr;
}

.task-maintenance-container .task-types{
    max-height: 0vh;
    overflow: hidden;
    transition: 0.25s ease-out;
}

.task-maintenance-container .task-types.active{
    max-height: 50vh;
    transition: 0.25s ease-in;
}