

.company-display{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0.2rem;
    padding: 2%;
}

.company-card{

    box-shadow: 1px 1px 3px grey;
    padding: 1rem;
    margin: 1%;
}

.component-card-title{

    display: grid;
    grid-template-columns: 2fr 1fr 0.25fr;
    column-gap: 0.2rem;
}

.component-card-title div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.company-card-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.company-details{
    max-height: 0;
    overflow: hidden;
    transition: 1s ease;
}

.company-details.active{
    max-height: 50vh;
    transition: 1s ease;
    overflow: auto;
}

.head-office-container label{
    font-weight: bold;
}

.head-office-address{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.2rem;
    row-gap: 0.2rem;
}

.employee-details{
    max-height: 0;
    overflow: hidden;
    transition: 1s ease;
}

.employee-details.active{
    max-height: 50vh;
    transition: 1s ease;
}

.single-employee{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
}