
.view-project-info-container{
    margin: 1rem;
    padding: 0.5rem;
    border-top: 2px solid blue; 
    box-shadow: 0px 0px 7px #777777;
}

.view-project-info-details{
    display: flex;
    flex-wrap: wrap;
}

.view-project-info-details .detail{
    flex-grow: 1;
}


