
.engineer-card{
    min-height: 30vh;
    margin: 2% 2% 5% 2%;
    border-color: blue;
    box-shadow: 2px 3px 4px blue;

}

.engineer-card .header{
    background-color: blue;
    color: white;
    font-weight: bold;
}


.engineer-card .employee-card {
    min-height: 10vh;
    max-height: 30vh;
    overflow: auto;
}
